<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Path" value ="d:/123/"/>
    <add key="STime" value ="60000"/>
    <add key="DTime" value ="0"/>
    <add key="CTime" value ="250"/>
  </appSettings>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
